name: Terraform AWS CI

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install boto3

      - name: Terraform Init
        working-directory: prod
        run: terraform init

      - name: Terraform Plan
        working-directory: prod
        run: terraform plan

      - name: Terraform Apply
        working-directory: prod
        run: terraform apply -auto-approve

      - name: Python script
        working-directory: scripts
        run: python test.py